<% provide(:title, 'Registo de candidatos') %>
<h1>Registo de candidatos</h1>

<div class="row">
  <!-- <div class="col-md-6 col-md-offset-3"> -->
    <%= simple_form_for(@user, url: signup_c_path) do |f| %>
      <%= render 'shared/error_messages' %>


      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'  %>
      <div class="form-group">
      <%= f.label :password %> <%= f.password_field :password, class: 'form-control'  %>

      <%= f.label :password_confirmation, "Confirme a sua password" %>
      <%= f.password_field :password_confirmation, class: 'form-control'  %>
      </div>
      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control'  %>

      <!-- FALTA IMPLEMENTAR FOTO FILE-->

      <%= f.label :morada, "Morada" %>
      <%= f.text_area :morada, class: 'form-control'  %>

      <%= f.label :cpostal, "Código Postal" %>
      <%= f.text_field :cpostal, class: 'form-control'  %>

      <%= f.label :localidade, "Localidade" %>
      <%= f.text_field :localidade, class: 'form-control'  %>

      <%= f.label :contacto, "Contacto" %>
      <%= f.text_field :contacto, class: 'form-control'  %>

      <%= f.label :pagina, "Página pessoal" %>
      <%= f.text_field :pagina, class: 'form-control'  %>

      <!--- JOIN TABLE CANDIDATE -->

      <%= f.fields_for :candidate, @candidate do |c| %>

      <%= c.label :d_nascimento, "Data de nascimento" %>
      <%= c.date_field :d_nascimento, class: 'form-control' %>

      <%= c.label :cartao_cidadao, "Cartão de Cidadão/BI" %>
      <%= c.text_field :cartao_cidadao, class: 'form-control' %>

      <%= c.label :hab_literarias, "Nível de hablitações" %>
      <%= c.select :hab_literarias, ['option1', 'option2'], class: 'form-control' %>

      <%= c.label :hab_ds, "Hablitações Literárias" %>
      <%= c.text_area :hab_ds, class: 'form-control' %>

      <%= c.label :situacao, "Situação profissional" %>
      <%= c.select :situacao, ['Empregado', 'Desempregado'], class: 'form-control' %>

      <%= c.label :experiencia, "Experiência Profissional" %>
      <%= c.text_area :experiencia, class: 'form-control' %>

      <!--- FALTA IMPLEMENTAR CV FILE -->

      <%= c.label :area_profissional, "Área Profissional" %>
      <%= c.select :area_profissional, ['option1', 'option2'], class: 'form-control' %>
      <% end %>

      <!--- END-->

      <%= f.label :apresentacao, "Apresentação" %>
      <%= f.text_area :apresentacao, class: 'form-control' %>
      <!--- JOIN TABLE CANDIDATE -->
      <%#= f.fields_for :candidate do |c| %>

      <%#= c.label :hab_literarias %>
      <%#= c.select :hab_literarias, ['option1', 'option2'], class: 'form-control' %>

      <%#= c.label :hab_ds %>
      <%#= c.text_area :hab_ds, class: 'form-control' %>

      <%#= c.label :situacao %>
      <%#= c.select :situacao, ['option1', 'option2'], class: 'form-control' %>

      <%#= c.label :experiencia %>
      <%#= c.text_area :experiencia, class: 'form-control' %>
      <%# end %>
      <!--- END -->
      <%= f.submit "Criar a minha conta", class: "btn btn-primary" %>
    <% end %>
</div>
