<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
    <h1>Nome</h1>
    <p>
        <%= @user.name %><br>
    </p>
    </section>
  </aside>
  <aside class="col-md-10">
  <section class="user_info2">
  <h1 id="subtitulo">E-mail</h1>
  <p id="teste2">
        <%= @user.email %><br>
  </p>
  <h1 id="subtitulo">Tipo</h1>
    <p>
        <%= @user.user_type %><br>
  </p>
  <h1 id="subtitulo">Activo</h1>
    <p>
        <%= @user.activated %><br>
  </p>
  </section>
  </aside>
  <%= link_to "Editar", '', class: "btn btn-primary btn-xs" %>
  <%= link_to "Alterar password", edit_password_reset_path, class: "btn btn-primary btn-xs" %>
  <%= link_to "Apagar", @user , method: :delete,
                                  data: { confirm: "Tem a certeza?" }, class: "btn btn-primary btn-xs" %>
  <%= link_to "Inserir", new_user_path, class: "btn btn-primary btn-xs" %>
  <%= link_to "Listagem", '', class: "btn btn-primary btn-xs" %>
</div>
