<% provide(:title, 'Bolsa de Emprego') %>
<div class="row">
  <aside class="col-md-6">
  <h2>Ofertas</h2>
    <ul class="offers">
      <% @offers.each do |offer| %>
        <li>
          <%#= image_tag candidate.user.picture, size: 50 %>
          <%#= gravatar_for user, size: 50 %>
          <%= link_to offer.title, offer %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Inserir oferta", new_offer_path, class: "btn btn-primary btn-xs" %>
  <h2>Histórico</h2>
    <ul class="offers_history">
      <% @offers.where(:active => false).each do |offer| %>
        <li>
          <%#= image_tag candidate.user.picture, size: 50 %>
          <%#= gravatar_for user, size: 50 %>
          <%= link_to offer.title, offer %>
        </li>
      <% end %>
    </ul>
  </aside>
  <aside class="col-md-6">
  <h2>Entidade</h2>
  <%= link_to "Editar dados", edit_company_path(current_user.company_id), class: "btn btn-primary btn-xs" %>
  <%= link_to "Alterar password", edit_password_reset_path(current_user.id), class: "btn btn-primary btn-xs" %>
  <h2>Candidatos interessados</h2>
    <ul class="candidates">
      <% @candidates.each do |candidate| %>
        <li>
          <%#= image_tag candidate.user.picture, size: 50 %>
          <%#= gravatar_for user, size: 50 %>
          <%= link_to candidate.user.name, candidate %>
        </li>
      <% end %>
    </ul>
  </aside>
</div>



