<% provide(:title, 'Entidades') %>
<h1>Entidades</h1>

<%= form_tag(companies_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Pesquisar', name: nil %>
<% end %>


<ul class="companies">
  <% @companies.each do |company| %>
    <li>
      <%= image_tag company.user.picture, size: 50 %>
      <p><%= link_to company.user.name, company %><br>
      <%=  company.user.presentation %><br>
      <% if logged_in? && current_user.candidate? %>
        <%= render 'users/follow_form', model: @company %><br>
      <% end %>
      <% if (logged_in? && current_user.company_id == company.id) || (logged_in? && current_user.backoffice?) %>
        <%= link_to "Editar", edit_company_path(company.id), class: "btn btn-primary btn-xs" %>
      <% end %>
      </p>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
