<% provide(:title, 'Registo de entidades') %>
<% provide(:button_text, 'Criar a minha conta') %>
<h1>Registo de entidades</h1>

<div class="row">
  <!-- <div class="col-md-6 col-md-offset-3"> -->
    <%= simple_form_for(@company) do |f| %>
      <%= render 'shared/error_messages', model: @company %>

      <!--- JOIN TABLE USER -->
      <%= f.fields_for :user, @user do |u| %>
      <%#= render 'shared/new' %>
      <%= u.label :email %>
      <%= u.email_field :email, class: 'form-control'  %>

      <div class="form-group">
      <%= u.label :password %> <%= u.password_field :password , class: 'form-control'  %>

      <%= u.label :password_confirmation, "Confirme a sua password" %>
      <%= u.password_field :password_confirmation, class: 'form-control'  %>
      </div>

      <%= u.label :name %>
      <%= u.text_field :name, class: 'form-control'  %>

      <!-- FALTA IMPLEMENTAR FOTO FILE-->
      <%= u.label :picture, "Foto" %>
      <%= u.file_field :picture %>

      <%= u.label :address, "Morada" %>
      <%= u.text_area :address, class: 'form-control'  %>

      <%= u.label :zip_code, "Código Postal" %>
      <%= u.text_field :zip_code, class: 'form-control'  %>

      <%= u.label :city, "Localidade" %>
      <%= u.text_field :city, class: 'form-control'  %>

      <%= u.label :contact, "Contacto" %>
      <%= u.text_field :contact, class: 'form-control'  %>

      <%= u.label :page, "Página pessoal" %>
      <%= u.text_field :page, class: 'form-control'  %>

      <%= u.label :presentation, "Apresentação" %>
      <%= u.text_area :presentation, class: 'tinymce' %>
      <%= tinymce %>
      <% end %>
      <!-- END -->

      <%= f.label :nif %>
      <%= f.text_field :nif, class: 'form-control'  %>

      <%= f.label :professional_activity_id, "Actividade Profissional" %>
      <%= f.collection_select :professional_activity_id, @professional_activities, :id, :name, :prompt => "Seleccione uma actividade profissional" %><br>


      <%= f.submit yield(:button_text), class: "btn btn-primary btn-xs" %>
      <%= f.submit "Cancelar", class: "btn btn-primary btn-xs" %>
    <% end %>
</div>
