<% provide(:title, 'Registo de entidades') %>
<h1>Registo de entidades</h1>

<div class="row">
  <!-- <div class="col-md-6 col-md-offset-3"> -->
    <%= simple_form_for(@user, url: signup_e_path) do |f| %>
      <%#= render 'shared/error_messages' %>


      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'  %>
      <div class="form-group">
      <%= f.label :password %> <%= f.password_field :password, class: 'form-control'  %>

      <%= f.label :password_confirmation, "Confirme a sua password" %>
      <%= f.password_field :password_confirmation, class: 'form-control'  %>
      </div>
      <%= f.label :nome %>
      <%= f.text_field :nome, class: 'form-control'  %>

      <!-- FALTA IMPLEMENTAR FOTO FILE-->

      <%= f.label :morada %>
      <%= f.text_area :morada, class: 'form-control'  %>

      <%= f.label :cpostal %>
      <%= f.text_field :cpostal, class: 'form-control'  %>

      <%= f.label :localidade %>
      <%= f.text_field :localidade, class: 'form-control'  %>

      <%= f.label :contacto %>
      <%= f.text_field :contacto, class: 'form-control'  %>

      <%= f.label :pagina %>
      <%= f.text_field :pagina, class: 'form-control'  %>

      <!--- JOIN TABLE COMPANY -->

      <%= f.fields_for :company do |c| %>

      <%= c.label :nif %>
      <%= c.text_field :nif, class: 'form-control'  %>

      <%= c.label :atividade_profissional %>
      <%= c.select :atividade_profissional, ['option1', 'option2'], class: 'form-control'  %>
      <% end %>

      <!-- END -->

      <%= f.label :apresentacao %>
      <%= f.text_area :apresentacao, class: 'form-control' %>

      <%= f.submit "Criar a minha conta", class: "btn btn-primary" %>
    <% end %>
</div>
