<% provide(:title, @company.user.name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
    <h1>
        <%= @company.user.name %><br>
        <%= image_tag @company.user.picture, size:100 %>
      </h1>
    </section>
    <% if logged_in? && current_user.candidate? %>
    <%= render 'users/follow_form', model: @company %><br>
    <% end %>
    <% if logged_in? && current_user.company_id == @company.id %>
    <%= link_to "Editar", edit_company_path(current_user.company_id), class: "btn btn-primary btn-xs" %>
    <% end %>
  </aside>
  <aside class="col-md-10">
  <section class="user_info2">
  <p id="teste2">
        <%= @company.user.presentation %><br>
  </p>
  <h2 id="subtitulo">Atividade Profissonal</h2>
    <p>
        <%= @company.professional_activity.name %><br>
  </p>
  <h2 id="subtitulo">Morada</h2>
    <p>
        <%= @company.user.address %><br>
  </p>
  <p><%= @company.user.zip_code %> <%= @company.user.city %></p>
  </section>
  </aside>
</div>
