<% provide(:title, @company.user.name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
    <h1>
        <%= @company.user.name %><br>
        <%= gravatar_for @company.user %>
      </h1>
      <%#= f.edit "Editar", class: "btn btn-primary" %>
      <%#= link_to "Edit Profile", edit_user_path(current_user), class: "btn btn-primary btn-xs" %>
    </section>
    <%= link_to "Editar", '#', class: "btn btn-primary btn-xs" %>
  </aside>
  <aside class="col-md-10">
  <section class="user_info2">
  <p id="teste2">
        <%= @company.user.presentation %><br>
  </p>
  <h2 id="subtitulo">Atividade Profissonal</h2>
    <p>
        <%= @company.atividade_profissional %><br>
  </p>
  <h2 id="subtitulo">Morada</h2>
    <p>
        <%= @company.user.address %><br>
  </p>
  <p><%= @company.user.zip_code %> <%= @company.user.city %></p>
  </section>
  </aside>
</div>
