<% provide(:title, @offer.title) %>
<div class="row">
  <aside class="col-md-2">
    <section class="offer_info">
    <h1>
        <%= @offer.title %><br>
      </h1>
    </section>
    <% if logged_in? && current_user.candidate? %>
    <%= render 'applications_form' %><br>
    <% end %>
    <% if logged_in? && current_user.company_id == @offer.company_id %>
    <%= link_to "Editar", edit_offer_path, class: "btn btn-primary btn-xs" %>
    <% end %>
  </aside>
  <aside class="col-md-10">
  <section class="offer_info2">
  <p id="teste2">
        <%= @offer.description %><br>
  </p>
  <p><%= @offer.begins %> a <%= @offer.ends %></p>
  <h1 id="subtitulo">Empresa</h1>
    <p>
        <%= @offer.company.user.name %><br>
  </p>
    <h1 id="subtitulo"> Atividade Prossional</h1>
    <p>
        <%= @offer.professional_activity.name %><br>
  </p>

  <h1 id="subtitulo">Tipo de contrato</h1>
    <p>
        <%= @offer.contract_type %><br>
  </p>

  <h1 id="subtitulo">Salário</h1>
    <p>
        <%= @offer.salary %><br>
  </p>
<br>
  <h1>Candidatos</h1>
  <ul class="candidates">
  <% @candidates.each do |candidate| %>
    <li>
      <%= image_tag candidate.user.picture, size: 50 %>
      <p>
      <%= link_to candidate.user.name, candidate %><br>
      <%#= candidate.habilitation.name %>
      <%= candidate.professional_area.name %>
      </p></li>
  <% end %>
  </ul>
  </section>
  </aside>
</div>
