<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "bolsa de emprego", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
            <% if current_user.candidate? %>
            <li><%= link_to current_user.name, current_user.candidate %></li>
            <% end %>
            <% if current_user.company? %>
            <li><%= link_to current_user.name, current_user.company %></li>
            <% end %>
            <li><%= link_to "Sair", logout_path, method: "delete" %></li>
            <% else %>
            <li><%= link_to "Registar-me",  signup_path %></li>
            <li><%= link_to "Login", login_path %></li>
        <% end %>
          </ul>
        </nav>
      </div>
  </header>
